%div{id: dom_id(sock)}
  %p
    %strong Name:
    = sock.name

  %p
    %strong Description:
    = sock.description

  %p
    %strong Gender:
    = sock.gender

  %p
    %strong Age:
    = sock.age

  %p
    %strong Height:
    = sock.height

  %p
    %strong Color:
    = sock.color

